.spinner-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.spinner-container {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  background-color: rgba(100, 100, 100, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spinner 2s infinite;
  width: 100px;
  height: 100px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
